[2015-09-11 00:27] jschroed91 opened #13 "Allow $isolatedDiffTags to be configured on HtmlDiff"
Currently the $isolatedDiffTags is hard-coded with no public configuration available.

We should allow the tags that are isolated to be configured on the object.

[2015-10-21 21:16] jschroed91 opened #18 "Allow the list match threshold percentage (ListDiff::$listMatchThreshold) to be configured"
Current it's hard-coded at 50%. We should expose this value as a configuration option, and update caxy/HtmlDiffBundle to expose that config option in the bundle's configuration.

[2015-11-12 13:53] gondo opened #21 "the difference between rashid2538/php-htmldiff"
hi
what exactly is the difference between the original repo?
a lot of the code was rewritten and it is not clear what changed. can you clarify this in readme file?

also there seems to be missing bug fixe merged into the original repo:
https://github.com/rashid2538/php-htmldiff/pull/21

and some code clean up not merged (dont know why) into original repo:
https://github.com/rashid2538/php-htmldiff

[2015-11-12 17:29] gondo opened #22 "encoding"
one of the parameter for constructor in `AbstractDiff` class is `$encoding`, however this is not used anywhere.
is something missing? what is the point of it?

[2015-11-12 22:00] jschroed91 commented on #21
@gondo Good questions - we've been meaning to document this for quite some time but haven't gotten around to doing so. I should have time to do that in the near future.

I also want to check in with the original owner to see if they would be interested in some of the larger changes we have made.

Feel free to put up a pull request for the missing bug fix in the original repo, otherwise I will find

[2016-01-12 05:58] #21 closed

[2016-02-12 15:28] emielvangoor opened #27 "Is it possible to skip certain HTML tags?"
When I diff a new text with `<!DOCTYPE html ...>`, `body `or `head ` tag and to old text doesn't include these the `HtmlDiff `will add a `class="diffmod"` to the tag, is there anyway to avoid/skip these kind of tags?

[2016-02-12 15:58] jschroed91 commented on #27
Hi Emiel, there is currently no way to skip them.

I will be working on updates for table diffing over the next week, so I will be sure to make some time to include a feature that allows you to skip/ignore certain tags.

A workaround for now might be to preprocess the text before sending it into HtmlDiff to remove those tags.

[2016-02-12 16:33] emielvangoor commented on #27
OK, thanks for the reply Josh!

[2016-02-21 20:32] maliayas opened #28 "Detecting link changes"
It seems, neither this fork nor the upstream can detect link changes. For example:

[code]

GitHub rich text diff plays nice with this case. Styling is not in the scope of this library but I've captured some screenshots for inspiration. If a`href` attribute is changed, GitHub dotted-underlines it and presents a tooltip:

![ekran goruntusu 2016 02 21 22_25_38](https://cloud.githubusercontent.com/as

[2016-02-21 21:49] maliayas opened #29 "Documentation for HTML tags and CSS classes"
Is there any reference for the generated HTML tags (`<ins>`, `<del>`) and CSS classes (`.diffmod`, `.diffins`, etc)?

[2016-02-21 22:04] jschroed91 commented on #28
Of course! I'm working on the table diffing feature now, I will try to sneak this in early this week. Unless someone else wants to put in a PR

[2016-02-21 22:08] maliayas commented on #28
Thanks very much!

[2016-02-22 18:00] jschroed91 commented on #22
@gondo Good point... I took a look at the upstream repo and it's not being used there either... do you have a need for implementation of handling encoding?

[2016-02-22 18:03] gondo commented on #22
replace every string related function with its `mb_*` equivalent
http://php.net/manual/en/book.mbstring.php

[2016-02-22 18:04] jschroed91 commented on #22
Sounds good!

[2016-02-22 21:11] #28 closed

[2016-02-22 21:13] jschroed91 commented on #28
@maliayas Just merged in updates to detect link changes - I didn't do anything fancy with tooltips since that is out of the scope of this library. But if a link is changed, the old link will be wrapped in a `<del class="diffmod diff-href"></del>` and the new link will be wrapped in `<ins class="diffmod diff-href"></ins>`

[2016-02-22 23:01] maliayas commented on #28
Lovely! Problem solved. Btw I've made a code review to be helpful.

[2016-02-22 23:04] jschroed91 commented on #28
It's very appreciated! Thank you @maliayas - I will look at your comments and make updates either today or tomorrow morning.

Feel free to suggest additional features/bug fixes in the future, and you are welcome to contribute / open PRs.

We don't have any documentation on contributing at this point, but I hope to do some major clean-up of the code and put together some documentation sometime in t

[2016-02-22 23:09] maliayas commented on #28
Very nice to hear this. Thanks.

[2016-03-14 17:16] jschroed91 commented on #13
This was covered in the implementation of the `HtmlDiffConfig` class: #32

[2016-03-14 17:16] #13 closed

[2016-03-14 17:17] jschroed91 commented on #18
This was covered in the implementation of the HtmlDiffConfig class: #32

[2016-03-14 17:17] #18 closed

[2016-03-14 17:18] jschroed91 commented on #27
@emielvangoor Just an update - have not gotten to this yet but it's on my radar. I will aim to get this feature included in the next release - probably 1-2 weeks.

[2016-03-14 17:20] jschroed91 commented on #22
@gondo Just an update - I plan to include implementation for encoding in the next release. Aiming for 1-2 weeks.

[2016-03-14 17:22] jschroed91 commented on #29
@maliayas I just started working on updating the documentation this past weekend - going in small chunks but I plan to cover this next, now that I have basic documentation of usage/ configuration done.

[2016-03-14 18:56] emielvangoor commented on #27
@jschroed91 Thanks for the update..! For now I created a simple preprocessor to remove the tags as you suggested. Would be great if you implement this feature in the library.. :+1:

[2016-03-31 09:25] oliverbeck opened #38 "Performance"
Hi,

First I would like to thank for your library. It seems to be the best solution for php at this moment. But I have one big problem with it: The HTML-Blocks I'm comparing have about 1000 words or 8000 chars (with tags). It works but it takes very long to process, sometimes about 2 minutes. I'm using PHP 5.6.

Are there any possibilities to enhance the performance?

thanks for any hint!

Kind re

[2016-04-04 17:25] jschroed91 commented on #38
@oliverbeck Thanks for opening this issue - performance is certainly a problem and there are a lot of inefficiencies in the code and also in the approach.

I know there are some improvements that could be made in the code - unfortunately, I haven't had much time to address them. I know, for example, diffing HTML tables is pretty expensive since it's now using DOMDocument.

There is one way to impr

[2016-04-10 20:33] maliayas opened #45 "Diff styling for the demo"
I suggest adding a red/green styling for the demo diffs. Below is a fancy one:

[code]

[2016-04-10 20:41] maliayas opened #46 "Possible diff algorithm improvement"
I'm using the "Override Demo 5" in the demo and I get this result:

![ekran goruntusu 2016 04 10 23_34_34](https://cloud.githubusercontent.com/assets/844008/14412918/7aa01cde-ff6c-11e5-8ca4-48ac3ffd155d.png)

Another diff app I try gives this result for the same HTML:

![ekran goruntusu 2016 04 10 23_34_46](https://cloud.githubusercontent.com/assets/844008/14412919/7aaa1da6-ff6c-11e5-9970-b4eb074e

[2016-04-10 22:15] jschroed91 commented on #46
@maliayas Thanks for opening this issue!

This is actually an undesired side-effect of one of the newer features we implemented - isolated tag diffing. I had not actually thought about this until now, so I'm very glad you opened this issue.

Basically, the isolated tag diffing is comparing the italic tags `emergency escape and rescue openings` separately from the rest of the content - this is to f

[2016-04-10 22:15] jschroed91 commented on #45
This was added in #47 :) Thank you @maliayas !!

[2016-04-10 22:15] #45 closed

[2016-04-10 22:36] maliayas commented on #45
Thanks!

[2016-04-10 22:53] maliayas commented on #46
I see. Great explanation. If fixing this, will break other stuff, don't worry about this issue. I understand that perfecting a diff library may be quite complex.

Btw. demo tool is awesome.

[2016-04-26 07:33] oliverbeck commented on #38
@jschroed91 Thank you for your reply!

Can you shortly discribe how I have to set a cache object?

[2016-05-24 14:16] SavageTiger opened #51 "Config object not properly used when using the HtmlDiffBundle service"
Hi,

I had some issues today with the cache folder location of the html purifier. After some digging around it turns out that the constructor in HtmlDiff/HtmlDiff sets the config after the AbstractDiff is created. However the purifier is initialized inside the AbstractDiff so the cache path (from the config object) is not properly set at the time of execution.

[2016-05-25 16:23] #51 closed

[2016-06-06 14:47] SavageTiger commented on #38
Hi @oliverbeck can you try using the latest checkout?

[2016-06-14 08:44] oliverbeck commented on #38
Hi @SavageTiger

If I update to the latest version (0.1.2 or dev-master) I get this PHP error:

Fatal error: Unserialization of configuration schema failed, sha1 of file was da39a3ee5e6b4b0d3255bfef95601890afd80709 in /path/to/project/vendor/ezyang/htmlpurifier/library/HTMLPurifier/ConfigSchema.php on line 75

[2016-06-14 11:02] SavageTiger commented on #38
@oliverbeck That is weird, the problem seems to be that the HTMLPurifier cannot initialize its base configuration. I guess the best thing todo is delete the purifier dependency from the vendor folder and re-run composer install (or update). P.S. the performance inhancements are only present in the latest dev-master branch

[2016-06-14 11:16] oliverbeck commented on #38
@SavageTiger  So you think the htmlpurifier isn't necessary at all?

[2016-06-14 11:18] SavageTiger commented on #38
@oliverbeck No it is, but if you re-run composer after deleting the ezlang/htmlpurifier folder it will reinstall the dependency.

[2016-06-14 11:19] oliverbeck commented on #38
ah ok now I understand :-) I'll try it out

[2016-06-14 11:25] oliverbeck commented on #38
Same error... and if I switch back to v0.1.1 it works well

[2016-06-14 11:27] SavageTiger commented on #38
That is really weird, can you paste your calling code, maybe a parameter you are using triggers this issue. (also what PHP version are you using?)

[2016-06-14 11:34] oliverbeck commented on #38
Here my code snippet:

`$config = new HtmlDiffConfig();`
        `$cacheProvider = new \Doctrine\Common\Cache\PhpFileCache(PATH_site . '/phpFileCache/');`
       ` $config->setCacheProvider($cacheProvider);`
        `$htmlDiff = HtmlDiff::create($old, $new, $config);`
        `$content = $htmlDiff->build();`

as you can see, atm I use file cache. PHP version is 5.6.15

[2016-06-14 11:36] SavageTiger commented on #38
Ok i'll try to investigate locally. My HTMLPurifier is version 4.7.0

[2016-06-14 11:37] oliverbeck commented on #38
Just tried it out without CacheProvider, same error

[2016-06-14 11:39] SavageTiger commented on #38
You might also want to compare my schema.ser to yours.

[schema.ser.zip](https://github.com/caxy/php-htmldiff/files/313807/schema.ser.zip)

[2016-06-14 11:43] oliverbeck commented on #38
still the same, v0.1.1 works, latest dev don't =/

[2016-06-14 12:18] SavageTiger commented on #38
@oliverbeck What happens if you replace your snipped for

`$htmlDiff = new HtmlDiff($old, $new, 'UTF-8', array());
$content  = $htmlDiff->build();`

[2016-06-14 12:34] oliverbeck commented on #38
unfortunately the same

[2016-06-14 12:36] SavageTiger commented on #38
Ok. I have not managed to replicate the issue locally. Thank you for taking the time and helping debug the issue.

[2016-06-14 12:40] SavageTiger commented on #38
Quick question: Did you replace the path in /path/to/project/vendor/ezyang for security reasons as I initially presumed? Or does it actually say /path/to/project? In case of the ladder, I might be on to something.

[2016-06-14 12:42] oliverbeck commented on #38
Yes, I replaced it for security reasons

[2016-06-14 12:43] SavageTiger commented on #38
Ok, bummer. I asked beceuse the sha1 da39a3ee5e6b4b0d3255bfef95601890afd80709 is the hash for an empty string. aka file not found or permission denied.

[2016-06-14 13:01] oliverbeck commented on #38
Bingo!

In ezyang/htmlpurifier/library/HTMLPurifier/ConfigSchema.php on line 75, it tries to get the file:

`$contents = file_get_contents(HTMLPURIFIER_PREFIX . '/HTMLPurifier/ConfigSchema/schema.ser');`

In my case the constant HTMLPURIFIER_PREFIX is empty (don't no why). If I set the correct path it works!

[2016-06-14 13:05] oliverbeck commented on #38
And for the toppic: The performance is much better, thank you!

[2016-06-14 13:13] SavageTiger commented on #38
@jschroed91 I think you can close this ticket :)

[2016-06-14 13:17] #38 closed

[2016-10-19 17:48] nvahalik opened #57 "Processing time is very long on large diffs"
This is a great module. In most cases it works absolutely flawlessly.

However, it's worth noting that for big diffs (where the new and old text lengths) exceed 65K (in my case it was 128k worth of HTML).

Our workaround was simply to do do some pre-optimization to get the processing time down to <30s. (This was for ~9k and ~10k for old/new blocks). We removed some inlined images and did some de-d

[2016-10-20 12:28] SavageTiger commented on #57
He nvahalik,

Can you PM me a long running HTML old and new text. I'd like to so some profiling.

Also maybe create a feature request for ignoring inline images. I ran into the same thing some time ago.

[2016-11-25 16:08] Rastishka opened #58 "Crashes if string contains "Р" character (uppercase cyrillic Р letter)"
Please add  "/u" (PCRE_UTF8) modifier to regexps, if  $config->setEncoding('UTF-8') is set.

[2016-11-25 21:55] jschroed91 commented on #58
Thank you for submitting this issue @Rastishka - I will be able to make this change sometime this weekend, but if you need it sooner feel free to fork and make the changes and open a pull request!

[2017-01-23 06:41] uno2xx opened #59 "Html Tags"
Is it possible to retain the html tag, body tag, css and js files? like get the diff only in the body and the rest will be retain?

Thanks.

[2017-01-23 07:12] jschroed91 commented on #59
Hey @uno2xx - this is not currently possible, but I added the Feature label to this issue as it's certainly something worth adding (and we'd happily accept a pull request for it if someone does it before we do 😉 ).

I have some time set out for some other work on this project this week, so I could fit this in if no one else grabs it.

[2017-01-23 07:21] jschroed91 opened #60 "Feature: Option to ignore inline images"
One of the items split from performance issues noted in #57

[2017-01-23 07:26] jschroed91 commented on #57
@nvahalik Sorry we haven't had any action on this one yet - I created a new issue for a feature to ignore inline images.

As far as performance overall, that is definitely one of the top items on the priority list... while building upon the original library, performance took a back-seat to accuracy and human-readability - and the original use-case for us was comparing small snippets of HTML, so un

[2017-01-23 08:50] uno2xx commented on #59
Thanks @jschroed91 looking forward on it.

What I did right now is find the body using htmldom then insert it back with the new build.

[2017-01-23 16:02] nvahalik commented on #57
Well, another improvement we made was to look for blocks of code that were equal and then hash and remove those from consideration. I've included the code I used below. The idea here was that the regular expressions would find and test the biggest "blocks" first and then replace those as they went down. Smaller blocks would get passed over and it would do this over the entire document. At least...

[2017-05-02 20:32] myfriend12 opened #61 "Does not work on PHP 5.3.10"
The ListDiffLines.php file uses [ ] as declaring arrays which is not supported in PHP 5.3 so composer will need to be updated to be greater than 5.3 or the array declaration will need to be changed.

"As of PHP 5.4 you can also use the short array syntax, which replaces array() with []."

[2017-05-02 20:33] myfriend12 commented on #61
Line 63 of LcsServices.php also has the same issue.

[2017-05-02 21:15] jschroed91 commented on #61
@myfriend12 Is this the only compatibility issue with 5.3? If so, I'm okay with updating it to use `array()` instead of `[]` in order to restore 5.3 support

[2017-05-02 21:17] myfriend12 commented on #61
Yes, from what I can see running on my code that is the only compatibility issue. I did a fork and pull which just passed the tests.

[2017-05-02 21:17] jschroed91 commented on #61
Thank you @myfriend12! This has been merged, and I can tag a new release

[2017-05-02 21:17] #61 closed

[2017-05-02 21:20] jschroed91 commented on #61
Tagged a new release v0.1.4 with this fix

[2017-05-02 21:25] myfriend12 commented on #61
Awesome thanks. Love this package by the way.

[2017-05-04 08:15] SavageTiger commented on #58
Hi Josh,

I took the time to look at this issue. However it seems invalid. I cannot for the live of me reproduce this issue. Maybe its only present in a certain PHP version.

Testing the following fixture seems to work fine:

<oldText>
    <div>&#1056; ҦԤП п; italics: П п</div>
</oldText>

<newText>
    <div>Its all gone!</div>
</newText>

<expected>
    <div><del class="diffmod">Р ҦԤП п; italics:

[2017-05-04 13:35] jschroed91 commented on #58
@Rastishka Closing this issue based on comment above - if this is still an issue please reopen and provide example text input for us to reproduce

[2017-05-04 13:35] #58 closed

[2017-05-04 13:35] jschroed91 commented on #58
Thank you @SavageTiger!

[2017-06-15 10:34] medis commented on #57
I found splitting html with regex to be not reliable - it leaves huge chunks of html intact. What I used instead is PHP's DOMDocument. Idea behind it is same but splits html correctly.
`$tags = ['p', 'li', 'table', 'ol'];
  $dom = new \DOMDocument();
  $dom->loadHTML($oldHtml);
  foreach ($tags as $tag) {
      $elements = $dom->getElementsByTagName($tag);
      foreach ($elements as $element) {

[2017-09-08 14:07] Morziloeil opened #64 "Bug: INS tag not closed"
Hi,

`$content = Caxy\HtmlDiff\HtmlDiff::create('<p>Lorem ipsum dolor sit amet</p>', '<p>Lorem ipsum dolor <strong>sit</strong> amet</p>')->build();
print_r(htmlentities($content));`

Result:

`<p>Lorem ipsum dolor <del class="diffmod">sit</del><strong class="diffmod"><ins class="mod"><ins class="diffmod">sit</ins></strong> amet</p>`

`<ins class="mod">` is not closed.

[2017-09-12 02:07] jschroed91 commented on #64
Thanks for submitting this bug @Morziloeil - someone will have a look in the next couple of days

[2017-09-12 08:40] SavageTiger commented on #64
@jschroed91 Hi Josh, I gave it a quick look and there are a couple of things that i noticed.

First, to reproduce this you must have strong defined in SpecialCaseTags.
What i did in testHtmlDiff is <code>$diff = new HtmlDiff(trim($oldText), trim($newText), 'UTF-8', array('strong'));</code>

Second, the issue seems to be that the call <code>} elseif (array_search($words[ 0 ], $this->config->getSpec

[2017-09-21 13:41] Morziloeil opened #66 "Bug - bad comparison between words containing accented characters"
Hi,

The problem in image:

![image](https://user-images.githubusercontent.com/31770077/30698548-469dbc22-9eb0-11e7-8618-695bb73701a6.png)

When removing the accents, the difference is correctly calculated:
![image](https://user-images.githubusercontent.com/31770077/30698602-72777bd0-9eb0-11e7-94e5-ef431a1228ba.png)

FYI, _Reportée_ and _En cours de réalisation_ stand for "Delayed" and "On going"

[2017-09-22 18:35] Morziloeil commented on #66
Hi,
It's not a bug: setting accented characters set via setSpecialCaseChar() solves this issue.
Sorry for disrupting.

[2017-09-22 18:35] #66 closed

[2017-09-26 20:55] sethjfischer opened #67 "lone image inside a paragraph tag"
Adding or removing a lone image inside a <p></p> when the <p></p> above also has a change doesn't show as an addition or a deletion for the image. Tested on http://php-htmldiff.caxy.com/  with this code:

OLD HTML:
`<p>this is a test</p>
<p>new test</p>
<p><img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/static/blog/images/google-200x200.7714256da16f.png" alt="" /></p>
<p></p>
<p

[2017-11-26 11:53] argb opened #68 "Why my test result is always wrong?"
same html section, when i tested it, it's always wrong. But when i put it in your demo site http://php-htmldiff.caxy.com/,
It's right.
I don't know why, could you show me your demo site codes?

[2017-11-26 19:24] jschroed91 commented on #68
@argb That is certainly an issue...

Your comment originally mentioned (before edits) that it was working on the demo site but not with your code - this might be related to some of the configuration on the demo site. You can see the configuration here: https://github.com/caxy/php-htmldiff-demo-api/blob/master/src/Diff/DiffEngine/CaxyPhpHtmlDiff.php#L56

This certainly is an issue we'll need fixed.

[2017-11-27 04:20] argb commented on #68
Thanks for your replay. :)
Acctually it has same problems in the demo http://php-htmldiff.caxy.com/. At beginning I thought the demo works well, just my code has problems, but then I checked the html of diff result of the demo, same issue with me, just the css style don't display the changing.
if you check the html source code, you will find the problem. :D

and there is another problem, the the o

[2018-01-08 11:37] tester20000 opened #69 "del inside ins"
Hi,
This is my test:

`$a='<b><i>test</i></b>';`
`$b='<i>test</i>';`

`$htmlDiffConfig = new \Caxy\HtmlDiff\HtmlDiffConfig();`
`$htmlDiff = \Caxy\HtmlDiff\HtmlDiff::create($a, $b, $htmlDiffConfig);`
`echo $htmlDiff->build();`

result:

`<i class="diffmod">`
`<ins class="mod">`
`<del class="diffmod">test</del>`
`</i>`
`</b>`
`<i class="diffmod">`
`<ins class="mod">`
`<ins class="diffmod">test</ins>

[2018-01-26 13:50] arvindpdmn opened #70 "Slow diff even on small text input"
My strings are mostly text (actually markdown) and sometimes contain a few HTML tags.

Suppose I delete a couple of words near the start of a line. On the same line towards the end, I add a couple of words. This is one of the few diff programs I know that highlights changes at word level. That's cool!

But it's slow. It takes 40+ seconds for a small file of about 100 lines and 1500 words.

Anythin

[2018-01-26 14:38] jschroed91 commented on #70
@arvindpmn Unfortunately there is not right now - this library was focused solely on accuracy for its initial purpose, and we have not had the time to improve its efficiency. Can you put an example of a small file you’re working with in a gist and provide a link here? I’d like to see if I can find areas to improve performance

[2018-01-27 04:10] arvindpdmn commented on #70
The files are attached. The code to do the diff is below. I had to wrap the text within a div in order to preserve the newlines. I noticed that the diff process removes the newlines.

Also, this morning I integrated this code into my Joomla framework where the diff output is written to file rather than sent back to the browser. Surprisingly, it doesn't take 40+ seconds to do the diff when called w

[2018-01-29 08:51] SavageTiger commented on #70
@arvindpdmn It might be good to know that this diffing library focuses on diffing html content, this is why your newlines might be removed.

If you are only diffing simple flat text (I based this assumption on your attachments), then I am pretty sure that you can get a more simple diffing library that will be faster since it does not have all the overhead of trying to keep markup in tact while cal

[2018-01-29 09:10] arvindpdmn commented on #70
Thx. I realized that many other libraries simply do line-level diff and don't support word-level diff. That's why I selected this one. Plus, this project has so many stars and close to half a million installs as seen on `https://packagist.org/packages/caxy/php-htmldiff` !

[2018-01-29 09:10] #70 closed

[2018-02-05 16:40] arvindpdmn commented on #70
Today I deployed the code on remote server, but thankfully on staging and not on production. Diff is slow as reported earlier. Will investigate.

[2018-02-05 16:50] SavageTiger commented on #70
@arvindpdmn Make sure you are atleast running PHP 7.0, that really makes a huge difference.

[2018-02-05 17:15] arvindpdmn commented on #70
Hmm... version on server I'm using is 5.6.32

[2018-02-07 08:22] iluuu1994 opened #71 "Encoding issues with umlauts"
I'm not sure if this repo is still maintained but I'd really appreciate some help. I'm having some encoding issues with umlauts and I cannot for the life of me figure out how to fix this. This is the code I'm running:

[code]

For some reason `HtmlDiff` breaks the encoding. What confuses me is that the example works perfectly on the http://php-htmldiff.caxy.com/ website. Is this not supported or a

[2018-03-15 21:23] #71 closed

[2018-03-22 15:26] mandron opened #73 "Different results"
Hi!

[code]

v0.1.6
[code]
Is it possible to get a result like for cyrillic word but for Latin too?

v0.1.7
[code]

[2018-03-22 20:43] danepowell opened #74 "Latest release can cause segmentation faults"
A project I work on recently upgraded its dependency on caxy/php-htmldiff from 0.1.6 to 0.1.7. After the update, we are seeing segmentation faults when calling php-htmldiff. The fault actually occurs in the c standard library, not in the php binary.

The only change in the 0.1.7 release is this PR: https://github.com/caxy/php-htmldiff/pull/72

This might be a little hard to reproduce, because I'm

[2018-03-23 00:27] jschroed91 commented on #74
Hmm... very interesting @danepowell.

Is it happening every time? Are you able to share examples of the HTML inputs that are going into htmldiff? Or is it happening for any input?

[2018-03-23 00:45] jschroed91 commented on #73
Hi @mandron!

So, currently this library does not support diffing down to the character-level, it shows differences word-by-word. However, it can treat special characters (like commas, periods, etc.) as their own words.

I'm guessing the reason it was working the way that way for the cyrillic word in v0.1.6 was due to the issue that this library was not handling encoding properly (which was fixed

[2018-03-23 00:48] jschroed91 commented on #73
Popping a Status: Invalid label on this since how it was working in v0.1.6 was not actually how it was intended and instead was a side-effect of a bug.

I do think there is value in adding support for producing html diffs down to the character-level, however it is not supported currently.

[2018-03-26 21:35] danepowell commented on #74
I've narrowed it down quite a bit.

This is the line generating the segfault:
https://github.com/caxy/php-htmldiff/blob/48c70a963e803b93fe68a191e62d0770b5446f0b/lib/Caxy/HtmlDiff/AbstractDiff.php#L598

The latest release works fine if I simply change that line back to mimic the old version:
`return ctype_alnum($str);`

I'm still having trouble figuring out if or where that line is being called. Ev

[2018-03-27 08:31] SavageTiger commented on #74
Maybe this is relevant: https://bugs.php.net/bug.php?id=65009&edit=1

If this is the case, best solution is to reimplement this method in another hopefully also unicode compatible way.

[2018-03-27 16:27] danepowell commented on #74
I've refined my theory about what's happening here: I think this is actually a bug in xhprof that's being triggered by php-htmldiff. I'm in pretty well over my head on this though; can you review the evidence and let me know if you agree, and then I can try to open an upstream ticket with xhprof?

Here is a core dump and backtrace that I managed to pull: https://pastebin.com/4iVHND1G

The germane

[2018-03-28 08:01] SavageTiger commented on #74
As far as I can tell the segterm happens while memory is allocated, and I imagon you came to the same conclusion. Not sure if this gdb dump has any value to us or the xhprof devs.

Best thing might be to try and create a standalone php file with a huge string in it and apply the same preg_match to it. If you get a segfault, you can supply that file as a reproducible situation to the xhprof maintai

[2018-03-28 20:23] danepowell commented on #74
Whatever this is, it seems to not be a problem with this library so I can close this issue and declutter your queue. If you have any other insight I'd love to hear it though.

I'm 99% sure php-htmldiff is not even being called when the segfault occurs so I doubt this has anything to do with input to preg_match. I think this library just happened to trigger some sort of memory bug elsewhere in the

[2018-03-30 18:14] danepowell commented on #74
Just closing the loop on this... I still have no idea what caused the segfaults, but a colleague started experiencing them even with the older version of caxy/php-htmldiff, so I'm pretty sure this library is completely innocent :)

[2018-05-17 08:27] faxe1008 opened #75 "Option for retaining Attributes"
Hi,

I was testing your tool and its really usefull to me. The only thing that bothers me is the fact that in the diff all attributes like width etc. get stripped. Is there simple way to put them back in?

[2018-06-07 23:34] jschroed91 commented on #73
Closing this issue based on the comments above. If there is interest in producing a character-level diff instead of the word-level diffing done now, please feel free to open an issue for a feature request

[2018-06-07 23:34] #73 closed

[2018-06-07 23:35] jschroed91 commented on #22
I believe the changes made in #72 address these issues. Please reopen this issue if that's not the case.

[2018-06-07 23:35] #22 closed

[2018-07-12 09:07] arilia opened #76 "Feature: count of ahcnged chars"
Is there a way to have the count of the added/removed chars?

I need to show something like:

300 chars added, 600 chars removed

[2018-07-13 10:18] waltertamboer opened #77 "Major decrease in speed after upgrading from v0.1.5 to v0.1.7"
We have an application where we generate a comparison between two files. This file is pretty big and on v0.1.5 this took 21 seconds. After upgrading to v0.1.7 the comparison took 26 minutes.

After looking at https://github.com/caxy/php-htmldiff/compare/v0.1.5...v0.1.7 - I suspect the multibyte functions to be the cause of this but I did not dug any further into this issue. There probably is some

[2018-07-13 10:32] waltertamboer commented on #77
Thanks for your advise Sven. We are indeed on PHP 7 and the diff is generated in the background via a [Beanstalkd](http://kr.github.io/beanstalkd/) job. The main problem is that it's unacceptable for our customers to wait this long so I'd love to find a solution for this.

[2018-07-13 13:59] jschroed91 commented on #77
@SavageTiger @waltertamboer Do we think adding in a config option to disable multibyte support is something worth doing?

I think that would be an option here that is something we could do immediately, but not the ideal solution - ideal solution would be to make some of the performance improvements that require larger-scale changes... those would take some time

[2018-12-15 03:35] cookieguru commented on #29
I dug through the source and found all the classes:
* `diffins`
* `diffdel`
* `diffmod`

Additionally, if the href changes on a link, the classes `diffa` and `diffhref` will be added.  Similarly, `diffimg` and `diffsrc` will be added on images whose source changes.

[2018-12-15 04:18] jschroed91 commented on #29
@cookieguru That's awesome, thank you! We should get this added to the README. Please feel free to open a PR with the update if you'd like! Otherwise if I have some time this weekend I'll get it added.

[2018-12-15 04:32] jschroed91 commented on #57
@medis @nvahalik It would be great to include some of these performance improvements you have found in our library - I will be happy to review and accept contributions if people are up for it.

I will leave this issue open because it is certainly something we can improve upon, and its visibility is helpful for people evaluating if this library is a good fit for their project.

I'd like to get some

[2018-12-16 20:24] badams opened #78 "Purifier Config settings not having affect across all classes (e.g. TableDiff)"
Seems like the Purifier config is not being passed down to "nested diff instances";
When a document is being processed new HtmlDiff instances and instances of other classes such as TableDiff are created, if the user provides a HTMLPurifier_Config when creating the top level diff its not passed down to any subsequent instances that are created.

For example the following code should ensure the enti

[2018-12-18 02:07] cookieguru commented on #29
I spoke too soon.  Those are just the tip of the iceberg.  Need to dig in to this some more before I throw a PR your way.

[2018-12-18 18:03] nvahalik commented on #57
@jschroed91 No doubt. I haven't messed with this in a long time and I had to go back and find code archive to revisit this, but in addition to the above, we did the following as well: replaced all inline images with hashes of their content.

As noted above, you pretty much have the code that has been running for a couple of years now.

I think if I had the chance to review it all over again, I'd p

[2019-01-13 18:42] irkallacz opened #79 "Does not work on PHP 7.3"
I try to use it on PHP 7.3. and I got `Warning: preg_match(): Compilation failed: invalid range in character class at offset 4`

What I found that PHP 7.3. use PCRE2: http://php.net/manual/en/migration73.other-changes.php#migration73.other-changes.pcre witch cause problem in php simple html dom parser https://github.com/sunra/php-simple-html-dom-parser/issues/64

First option is use different libr

[2019-01-13 19:41] jschroed91 commented on #79
I'd like to move away from the dependency at some point altogether - but switching to the other repository which has the latest updates of the original package seems like an OK solution for 7.3 support.

I'm not able to test switching the lib today, but will do that early this week - if someone opens a PR w/ the changes I'd take that as well :)

[2019-01-15 19:18] #79 closed

[2019-02-08 12:47] alan-greenacorn commented on #57
I help maintain a Drupal module that uses this library. Both reported timeouts were on HtmlDiff::isOnlyWhitespace()

`return $str !== '' && (mb_strlen(trim($str)) === 0);`

That use to be

`return $str !== '' && (strlen(trim($str)) === 0);`

The MB functions seem to be causing significant overhead and were also noted in https://github.com/caxy/php-htmldiff/issues/77

Hope this helps

[2019-02-12 15:30] alan-greenacorn commented on #77
Some users with timeout issues reverted back the the 0.1.5 with significant performance increases with the following hack:

`    protected function isOnlyWhitespace($str)
    {
        //  Slightly faster then using preg_match
        // return $str !== '' && (mb_strlen(trim($str)) === 0);
	return $str !== '' && (strlen(trim($str)) === 0);
    }`

Some profiling info that pin-pointed the suspected

[2019-02-13 22:18] SavageTiger commented on #77
See PR: https://github.com/caxy/php-htmldiff/pull/81

[2019-02-13 22:19] SavageTiger commented on #57
See PR: https://github.com/caxy/php-htmldiff/pull/81

[2019-02-20 18:54] jschroed91 commented on #77
Fixes from #81 are included in new release v0.1.9

[2019-02-20 18:54] #77 closed

[2019-02-20 18:54] jschroed91 commented on #57
Changes from PR #81 are included in new release v0.1.9

[2019-02-20 18:54] #57 closed

[2019-02-21 12:15] waltertamboer commented on #77
Thanks! I'll try to test how these changes perform in our application asap.

[2019-02-21 18:40] SavageTiger commented on #77
Josh packagist still shows 0.1.8 as the latest version. Not sure why

[2019-02-21 18:53] jschroed91 commented on #77
Hm, the connector must be outdated. Will update!

[2019-02-21 18:58] jschroed91 commented on #77
@SavageTiger New release is now updated on packagist

[2019-02-21 22:04] jprado opened #82 "setKeepNewLines($stripNewLines)"
Does this undocumented config option need to be added to README.md?

[2019-02-21 22:39] jschroed91 commented on #82
It sure does! That was an oversight. Feel free to open a PR with the update, if someone doesn’t beat you to it

[2019-02-23 03:17] jprado commented on #82
Here it is: https://github.com/caxy/php-htmldiff/pull/83

[2019-02-23 08:07] #82 closed

[2019-02-23 08:14] jschroed91 commented on #27
This has been de-prioritized, and currently not sure if I have plans to implement this in the near future, since the focus of this library is on HTML snippets. However, I'm not against handling this so that it's compatible with full html documents

[2019-04-04 11:22] AroundtheGlobe opened #84 "HTMLPurifier not writable"
I've updated php-htmldiff from version 1.0.0 to 1.0.9 because it wasn't able to compare a 5.500 word article within 30 sec before the PHP timeout kicked in.  After updating I got the error message:
`/vendor/ezyang/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer not writable, please chmod to 777`

I've added the config settings to a dir with 777 rights like this:
[code]
But that settin

[2019-04-12 09:01] SavageTiger commented on #84
After setting cache location, do you see the path you set in the error message?

[2019-04-13 14:24] AroundtheGlobe commented on #84
The message above was the only message I've got. I had composer download and update all files today and it seems the problem is solved now.

The 5.500 word HTML diff still takes a long time (longer than a normal user would wait). When I wait for 400 sec (or 6.5 minutes) I am now able to to a diff without any errors.

[2019-04-15 11:52] SavageTiger commented on #84
I am not sure why I takes 7 minutes, one of the things that I know can take up loads of time is inline images (base64 encoded src tags). Also I advice you to make sure you run at least version 7 of PHP. I might be able to tell you why your html diff is slow if you can provide the data-set.

[2019-04-15 11:59] AroundtheGlobe commented on #84
This is the text I try to compare (with an older / different version) https://www.aroundtheglobe.nl/reizen/duitsland/berlijn-si7161.html
It's without the encoded src tags and I am using php 7.1.x on the server so that should be okay. Maybe something else is slowing it down in my (html) code?

[2019-04-16 07:34] SavageTiger commented on #84
Just to be clear, are you literally compairing the source of the entire page html (including all the stuff like menu's etc?) or just the content of ```<article class="post-content">``` for example?

[2019-04-16 08:17] AroundtheGlobe commented on #84
Only the content of <article class="post-content">

[2019-04-16 21:07] SavageTiger commented on #84
I have created some testing fixtures based on that page

[fixtures.zip](https://github.com/caxy/php-htmldiff/files/3086871/fixtures.zip)

The performance on my local machine was not to bad, so not sure what the issue is.

![Screenshot from 2019-04-16 23-00-03](https://user-images.githubusercontent.com/1238070/56243693-82abb800-609b-11e9-8d7a-2e42dd81ef76.png)

Not sure what your server specs are,

[2019-04-18 09:16] SavageTiger commented on #84
@jschroed91 I think we can close this issue, since the original issue seems invalid, and the performance issue is not really applicable to this specific ticket.

[2019-04-18 09:21] AroundtheGlobe commented on #84
I will try to have a look today to test and see how it performs on the main server (vs dev server). The dev server is a Intel(R) Core(TM) i7 CPU         950  @ 3.07GHz

[2019-04-18 12:44] SavageTiger commented on #84
According to user bench, the 950 has around 35% of the performance per core of a 4790, plus there is clock difference, so what would we expect on the 950, around 60 seconds maybe?, ignoring memory speed differences. Not really scientific, but not sure if 400 seconds makes sense, don't think so.

[2019-04-19 15:01] AroundtheGlobe commented on #84
After uploading everything to the main server I got the same error again.
/var/www/[mysite]/vendor/ezyang/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer not writable, please chmod to 777

the htmldiff code is still set the same as above.

[2019-05-02 07:42] AroundtheGlobe commented on #84
To answer this question:

No, I don't see the path I've set in the error message, but tI assume the default path of HTMLPurifier: /ezyang/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer

[2019-05-02 08:47] AroundtheGlobe commented on #84
I managed to solve the problem, but I can't explain what caused it. I use composer on my pc to get the latest files and update the composer pachages. When I compared the version of the vendor files / caxy files on my development server which at one point started to work with the live it seemed a few directories and files where missing. Uploading the files/directories solved the problem.

The missi

[2019-05-07 16:05] SavageTiger commented on #84
@AroundtheGlobe Sorry for the late response, I was a bit busy. Happy that the issue is solved though, I think 15 seconds as what is about to be expected for a text of that size.

cc @jschroed91

[2019-05-07 16:25] jschroed91 commented on #84
Thanks for your help here @SavageTiger !

[2019-05-07 16:25] #84 closed

[2019-06-04 08:48] qstiegler opened #85 "Diff of bold, italic, underline and strikethrough differs"
If you compare `<p>This is a text</p>` with the same text in bold `<p><strong>This is a text</strong></p>`, the result is `<p><del class="diffmod">This is a text</del><strong class="diffmod"><ins class="mod"><ins class="diffmod">This is a text</ins></ins></strong></p>`

If you compare `<p>This is a text</p>` with the same text in italic `<p><em>This is a text</em></p>`, the result is `<p><del clas

[2019-07-04 08:49] matthewgoslett commented on #79
This is still a problem for me on latest version 0.1.9.

<img width="845" alt="screenshot_1344" src="https://user-images.githubusercontent.com/1571743/60652957-6244fb80-9e49-11e9-9410-695049087ad2.png">

[2019-07-19 07:40] SavageTiger commented on #79
@matthewgoslett @irkallacz Do you have the same when you run functional tests on 7.3?

[2019-09-08 21:17] harrysrevis opened #87 "Class 'Caxy\HtmlDiff\AbstractDiff' not found"
Tried to install the lib in codeigniter and i get this error...

Any ideas?!

**_Fatal error: Class 'Caxy\HtmlDiff\AbstractDiff' not found_**

[2019-12-09 02:54] ajquick commented on #76
This doesn't have to be done in the main code, though it certainly could be done through a stats() function or similar.

Here is generally how you would approach, but these are not the best coding practices:

`preg_match_all('/\<ins class\=\"([^"]+)\"\>([^<]+)\<\/ins\>/is', $content, $ins_matches);
preg_match_all('/\<del class\=\"([^"]+)\"\>([^<]+)\<\/del\>/is', $content, $del_matches);

$insert_c

[2020-01-20 16:11] klemens-u opened #88 "[Feature] show condensed changes with context"
For long html strings with few changes, it would be nice to have an option to show only a compact overview of changed parts.
Similar to unix "grep --context=3" or the github commit change overview.

[2020-03-26 16:50] atomicreach opened #90 "Handling HTML Comments"
It does not handle comments properly. Ideally, it will be great if there is an option to skip certain tags.
Comments appear like this:
`<!-- /wp:paragraph -- class="diffmod">`
It breaks the format completely, and browser will render the above string.

[2020-04-01 11:56] Julien1138 commented on #64
Hi. This bug still exists...

[2020-04-01 15:05] jschroed91 commented on #64
Hi @Julien1138 - thank you for following up here. I'll look into this this week unless someone beats me to it and opens a PR

[2020-12-04 16:21] SavageTiger commented on #87
I don't think this ticket has anything todo with the package? I suggest we close it.

[2020-12-21 12:43] vagifrzada opened #94 "Problem with Match in PHP8"
**Caxy\HtmlDiff\Match** class is not usable because of **PHP8 "match"** reserved key.
So, obviously, diffing is not working in PHP8. It needs refactoring (Renaming class name to **Matcher** at least)

[2020-12-26 15:50] taz77 commented on #94
The maintainers here have already started working on it: https://github.com/caxy/php-htmldiff/tree/sven/upgrade/php8

[2021-01-04 10:40] SavageTiger commented on #94
I was waiting on feedback from @jschroed91 but I think he is a bit too busy, so I'll make a release soon.

[2021-01-04 13:12] jschroed91 commented on #94
@SavageTiger You can go ahead with this without my review, thank you so much! Working on a product launch this week so I won't be able to take a look for a bit and don't want to be a blocker on this.

[2021-01-05 11:19] SavageTiger commented on #94
I just released version v0.1.10 that fixes the issue

[2021-01-05 11:19] #94 closed

[2021-01-06 10:33] SavageTiger commented on #87
I have closed this ticket due to inactivity and no other complaints from other users making me wonder if this is a problem with the library itself.

Feel free to re-open a ticket if the problem persists.

[2021-01-06 10:33] #87 closed

[2021-02-25 20:56] Ambient-Impact opened #99 "How to ignore changes in an attribute?"
Specifically, I have links whose ```href``` attributes change, but for the purposes of what we're doing, it's irrelevant to the user that will be seeing the diff. If you're wondering exactly why one would need this, we're basically faking a future Wikipedia clone for a narrative project. Here's [an example of the diff](https://omnipedia.app/wiki/2049/09/29/Omnipedia/changes) in the current Drupal

[2021-03-03 18:03] SavageTiger commented on #99
Hi @Ambient-Impact,

The library explictly parses the href tag to detect if it changed. However this can be disabled.

Its a big clunky but if you use a custom config object like this, it should work;

[code]
Note how I removed the 'a' key from the isolatedDiffTags config option

[2021-03-08 16:16] Ambient-Impact commented on #99
That seems to work, thanks! My slightly less clunky version was to retrieve the isolated diff tags and just remove the 'a' key, and saving it to the config again:

[code]

[2021-03-08 16:16] #99 closed

[2021-03-10 14:11] SavageTiger commented on #99
This is a better solution indeed 👍

[2021-03-19 00:10] Ambient-Impact opened #100 "Lists being marked as changed when the output is 100% the same."
I've got the following two blocks of HTML being marked as changed, even though I've diffed them with WinMerge and it tells me they're 100% identical.

Block 1:

[code]

Block 2:

[code]

Could it be due the emoji or the ```<p>``` elements? Not sure if the ```<p>``` elements are valid nesting, so I'll likely try to remove those, but they're being automatically generated by CommonMark or a Drupal fi

[2021-03-22 14:08] Ambient-Impact opened #101 "Some diffs take far too long even with no multi-byte"
Hi there. I've been using this on a Drupal project where we need to highlight the differences between the rendered output of two nodes, and it works alright for most of our content, but a few seem to take far longer to generate, and sometimes hit the PHP max execution time limit (30 seconds on the remote server, 120 on the local dev).

I've tried to figure out exactly what might be causing such a

[2021-03-24 10:11] RemkoNolten commented on #67
We've been experiencing the same issue. Our text editor often produces a single `img` tag in a paragraph. It appears to work fine when there is (for example) other text or whitespace inside the paragraph, but when the paragraph only contains the image there is no <ins> or <del> tag added.

[2021-04-02 00:12] Ambient-Impact commented on #101
Here they are: [left.html.txt](https://github.com/caxy/php-htmldiff/files/6247004/left.html.txt) and [right.html.txt](https://github.com/caxy/php-htmldiff/files/6247006/right.html.txt).

Glad to hear it!

On my local machine, I'm running PHP 7.3.15, and on our server, we've running 7.4.14, so yes, we are. ;)

[2021-04-02 16:32] SavageTiger commented on #101
Thanks for the files, that is helpful for me to debug it, if I have some findings i'll let you know.

[2021-04-02 20:48] Ambient-Impact commented on #101
@SavageTiger Thanks, I appreciate it. 🤓

[2021-04-03 00:27] SavageTiger commented on #101
I have been digging into the performance issues using a profiler, and I found out that loads of time is spend parsing the text into words, so I have been working on a new parser that should be more efficient, see this WIP PR with a bunch of broken stuff inside https://github.com/caxy/php-htmldiff/pull/102

In my testing the performance group went from 900ms to 600ms, but some tests still fail, so

[2021-04-03 20:56] Ambient-Impact commented on #101
Sounds like progress to me. Let me know if there's anything I can contribute, though I'm not that familiar with this codebase as you would be.

[2021-04-05 21:24] SavageTiger commented on #101
He @Ambient-Impact I just released a new version that is way faster.

I have been testing with the text you provided and on my local dev machine it took 16 seconds with version 0.1.11, and it takes 7.5 seconds with version 0.1.12

In my case it used multibyte functions, since the text you provided required it.

[2021-04-06 04:07] Ambient-Impact commented on #101
Can confirm that the new version is indeed faster, even with multi-byte. I'll have to experiment with converting the multi-byte stuff to HTML entities to see if that makes a significant difference. Thanks for all the work so far!

[2021-05-27 09:17] SavageTiger commented on #101
Closing this issue, since I think this is solved, or well, as solved as I could manage :)

[2021-05-27 09:17] #101 closed

[2021-05-27 20:08] Ambient-Impact commented on #101
We ended up implementing an asynchronous/preemptively cached system, so this turned out to be less crucial, but having each job take less time is definitely still very appreciated!

[2021-06-21 01:27] mprythero opened #105 "Individual Element Styling is Removed"
I have an individual problem with the HTMLDiff and it removing styling of lists.

Say I have the following text to compare:
[code]
Everytime it compares the above text, it strips the style of the ol, rending the lists basically useless. Is there a way I could keep the styling? I need it to maintain the lists in our manuals but I would like to maintain the lists as they are originally, not with the

[2021-06-23 04:37] mprythero commented on #75
Is there any update on this?

[2021-06-28 08:18] SavageTiger commented on #105
Hi, this is likely done by purifier, you can disable purifier by doing `->setPurifierEnabled(false)` on the htmldiff config.

However I do suggest you purify the html that you diff for the best most accurate results (by using htmlpurifier yourself before sending it to the differ). Unless you are sure the HTML is as clean and correct as can be.

[2021-06-30 18:55] bradleyjond commented on #67
Also seeing this issue.

[2021-07-13 04:54] Ambient-Impact commented on #100
I think I've figured this out! Turns out that it was indeed the ```<p>``` elements that were causing this; removing them seems to have restored the expected behaviour. I also tried adding ```'p'``` to ```Caxy\HtmlDiff\ListDiffLines::listContentTags``` which also fixed it, so perhaps this element could be added to that array? According to [the MDN entry for ```<li>```](https://developer.mozilla.org

[2021-08-03 09:13] sindivinch opened #106 "Warning DOMDocument::loadHTML(): Unexpected end tag : strong"
[code]
Code above raises warning `DOMDocument::loadHTML(): Unexpected end tag : strong in caxy/php-htmldiff/lib/Caxy/HtmlDiff/ListDiffLines.php at line 409`

[2021-08-13 18:53] themiddlehalf commented on #78
I don't believe purifier will retain the html/head tags even if this setting is set to false. https://github.com/ezyang/htmlpurifier/issues/250

[2021-09-17 12:31] Abe2021 opened #107 "How about some sample output to demonstrate before downloading?"

[2021-10-17 01:31] AmrSubZero commented on #106
Same!

[2022-01-18 23:29] SavageTiger commented on #106
I looked into this and found out that special-case-tags can cripple the HTML, resulting in this error.

Spend a couple of hours trying to repair the feature, until I realized it's something we adopted from the library this library is based on, and then decided to remove the feature in its entirety since it seems to not really serve any purpose, and even break html output in some cases.

See this P

[2022-01-18 23:32] SavageTiger commented on #69
This could be related to https://github.com/caxy/php-htmldiff/pull/108, maybe good to retry once 0.1.14 is released.

[2022-01-19 11:17] SavageTiger commented on #106
This issue should now be fixed in https://github.com/caxy/php-htmldiff/releases/tag/v0.1.14

[2022-01-19 11:17] #106 closed

[2022-01-19 11:18] SavageTiger commented on #69
There is a really good chance that this problem is fixed in this release; https://github.com/caxy/php-htmldiff/releases/tag/v0.1.14

In case the problem persists feel free to reopen this issue or create a new one.

[2022-01-19 11:18] #69 closed

[2022-01-19 11:21] SavageTiger commented on #85
Could you check if this problem still persist in the latest version?

[2022-01-19 11:22] SavageTiger commented on #64
@Julien1138 This should be fixed in the latest version 0.1.14

[2022-01-19 11:22] #64 closed

[2022-01-23 20:10] rick1906 opened #109 "Spaces near quotes etc."
Looks like added spaces are missing in diff output.
[code]
prints
`He said:"OK!"`
while I expected highlighted space after colon. Using v0.1.14.

[2022-01-24 09:29] SavageTiger commented on #109
I can confirm this. It seems to be a regression between version `0.1.10` and `0.1.11`

[2022-06-08 14:03] SavageTiger commented on #85
@ghry5 Would you have a `left` and `right` text and an expected and actual result? that would make this easier to reproduce.

[2022-06-08 14:46] ghry5 commented on #85
1. `<strong>`
`left`:  `<p>This is a text</p>`
`right`: `<p><strong>This is a text</strong></p>`
`actual`: `<p><del class="diffmod">This is a text</del><strong class="diffmod"><ins class="diffmod">This is a text</ins></strong></p>`
`expected`: `<p><strong class="diffmod">This is a text</strong></p>`

2. `<em>`
`left`:  `<p>This is a text</p>`
`right`: `<p><em>This is a text</em></p>`
`actual`: `<p

[2022-06-11 10:20] SavageTiger commented on #85
@ghry5 I looked into this issue today and found out that its because of the `isolatedDiffTags` in the config, `strong` is in that list `s` is not for example.

Its always scary to change these types of things, since it means that output will change after an update.

After thinking about it a bit I think the best thing to-do here is to remove the text-styling tags from that list, and just keep the

[2022-06-24 13:55] sebreb opened #110 "Diff fails on image as a link in a table"
Hello and thank you for this awesome library!
I am reporting an issue tested in https://php-htmldiff.caxy.com/.
The diff doesn't detect the left image deletion in the following 2-cells-table:

OLD
[code]

NEW
[code]

RESULT
[code]

- If I extract the first image from <a> tag or if I add a space inside this tag, the deletion is detected inside the cell.
- If I remove the second column in both OLD a

[2022-06-24 14:46] sebreb commented on #67
It's the same here.

Furthermore, when doing the inverse operation, the diff doesn't detect an insertion as shown below.
OLD: empty
NEW:
[code]

[2022-07-05 09:30] berarma commented on #109
Still happening.

I came across a similar issue with spaces:

Comparing these two strings:

`<strong>this </strong>is<strong> a string.</strong>`
`<strong>this</strong>is<strong>a string.</strong>`

shows no differences.

[2022-07-06 22:13] berarma commented on #109
I've investigated the issue and it seems the code intentionally ignores inserted/removed spaces. It makes sense for spaces between block elements, or where text is not expected like between `</li>` and `</ul>`. But they shouldn't be ignored when they're inside block and inline elements that accept text as content.

Ignoring spaces based on the HTML context doesn't seem easy. I guess older versions

[2022-08-31 12:12] kamil-malinski opened #112 "no iframes is result"
Hi!

I have a html that contains iframes, for example a youtube-embed-code. HtmlDiff filters the iframes out when comparing (the iframes are missing in the result).

Is there a reason for that and can it be avoided?

Cheers

Kamil

[2022-09-01 18:06] jcfiala commented on #112
Hello!  Astonishingly, I was just visiting this page today for the same reason.  So I dug into the code.

The current code starts by calling HtmlPurifier, and uses that to clean up the html of the input values, which is removing the values we want. :(

However, we can override the HtmlPurifier settings to allow iframes around youtube to work.  Part of this code is copied from an answer at https://

[2022-11-29 12:14] ESI-Lille-devops opened #113 "nested/unclosed tags on attribute differences"
When comparing identical tags (tag and content), of which one has an attribute that the other doesn't, the produced output presents two opening tags, the identical content, and only one closing tag.
Also, although I am not sure of what the expected behavior is, if both have the attribute, with different values, no difference is detected and the output is the old html.
The attached example
[code]
o